
<div class="row" style="padding-top:100px; margin-left: 60px">
 <a routerLink="/user-list" class="text-center new-account">  
<div class="col-md-3 col-xl-3"> 
<div class="card card-inverse card-primary mb-3 text-center col-md-10 col-xl-3" style="background-color:#dc3545">
    <div class="card-block">
      <h3 class="card-title">Pharmacy Corporations</h3>
      <i class="fa fa-university fa-2x" style="color: white"></i>
      <p class="card-text">{{pharmacyCount}} Corporation</p>
    </div>
  </div>
  </div>
</a>
<a routerLink="/user-list" class="text-center new-account">
  <div class="col-md-3 col-xl-3" style="padding-right:10px ">
  <div class="card card-inverse card-info mb-3 text-center col-md-10 col-xl-3" style="background-color :#007bff">
      <div class="card-block" bg-warning>
        <h3 class="card-title">Pharmacy Locations</h3>
        <i class="fa fa-plus-square fa-2x" style="color: white" aria-hidden="true"></i>
        <p class="card-text">{{locationCount}} Locations</p>
      </div>
    </div>
</div>
</a>
<a routerLink="/user-list" class="text-center new-account">
<div class="col-md-3 col-xl-3">
    <div class="card card-inverse card-warning mb-3 text-center col-md-10 col-xl-3" style="background-color:#6610f2">
        <div class="card-block">
          <h3 class="card-title">Users</h3>
          <i class="fa fa-users fa-2x" aria-hidden="true" style="color: white"></i>
          <p class="card-text">{{userCount}} Users</p>
        </div>
      </div>
    </div>
    </a>
    <a routerLink="/user-list" class="text-center new-account">
      <div class="col-md-3 col-xl-3">
      <div class="card card-inverse text-center col-md-10 col-xl-3 card-wrap" style="background-color:#28a745">
          <div class="card-block">
            <h3 class="card-title">Reports</h3>
            <i class="fa fa-file-text-o fa-2x" aria-hidden="true" style="color: white"></i>
            <p class="card-text">1055 Reports</p>
          </div>
        </div>
        </div>
      </a>
<div class="" style="padding-top:200px;">
    <div class="col-md-6 col-xl-3">
        <bar-chart></bar-chart>
    </div>
    <div class="col-md-6 col-xl-3">
      <pie-chart></pie-chart>
    </div>

</div>
        </div>
